In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [125]:
data = pd.read_csv('train.csv')
data.head()

,transaction_id,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_1,cat_var_2,...,cat_var_34,cat_var_35,cat_var_36,cat_var_37,cat_var_38,cat_var_39,cat_var_40,cat_var_41,cat_var_42,target
0,id_11,2.302632e-08,0.040182,0.0,1.800000e-07,2.302632e-08,2.368421e-08,1.115205e-08,NaN,ce,...,0,0,0,0,0,0,0,0,0,0
1,id_33,7.965789e-06,0.157872,0.0,2.105000e-06,2.769737e-07,7.965789e-06,2.433058e-06,da,tn,...,0,0,0,0,0,0,0,0,0,0
2,id_51,7.828947e-08,0.089140,0.0,3.550000e-07,4.671053e-08,1.052632e-07,4.276014e-07,gf,ce,...,0,0,0,0,0,0,0,0,0,0
3,id_54,7.894737e-08,0.227239,0.0,1.050000e-06,1.381579e-07,2.190789e-07,1.848054e-08,NaN,ce,...,0,0,0,0,0,0,0,0,0,0
4,id_62,3.321053e-06,0.160410,0.0,2.105000e-06,2.769737e-07,3.340789e-06,2.152983e-06,da,tn,...,0,0,0,0,0,0,0,0,0,0

In [126]:
temp=data.describe()
temp

,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_19,cat_var_20,cat_var_21,...,cat_var_34,cat_var_35,cat_var_36,cat_var_37,cat_var_38,cat_var_39,cat_var_40,cat_var_41,cat_var_42,target
count,3.489780e+05,348978.000000,348978.000000,3.489780e+05,3.489780e+05,3.489780e+05,3.489780e+05,348978.000000,348978.000000,348978.000000,...,348978.000000,348978.0,348978.0,348978.0,348978.0,348978.000000,348978.0,348978.000000,348978.0,348978.000000
mean,2.059731e-05,0.160586,0.000011,4.604324e-05,8.187931e-06,1.482768e-05,1.942554e-05,0.520279,0.479721,0.672257,...,0.000003,0.0,0.0,0.0,0.0,0.000009,0.0,0.000003,0.0,0.107078
std,1.930948e-03,0.131499,0.002538,1.999947e-03,7.213736e-04,1.492990e-03,1.462171e-03,0.499589,0.499589,0.469391,...,0.001693,0.0,0.0,0.0,0.0,0.002932,0.0,0.001693,0.0,0.309213
min,0.000000e+00,0.000317,0.000000,4.000000e-08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
25%,4.605263e-08,0.084514,0.000000,3.550000e-07,4.671053e-08,4.407895e-08,1.720602e-08,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
50%,1.802632e-07,0.101512,0.000000,1.875000e-06,2.598684e-07,9.868421e-08,8.252516e-08,1.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
75%,6.513158e-07,0.160833,0.000000,2.105000e-06,2.769737e-07,4.618421e-07,3.571842e-07,1.000000,1.000000,1.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
max,5.427632e-01,1.000000,0.758621,3.750000e-01,2.171053e-01,4.605263e-01,3.542030e-01,1.000000,1.000000,1.000000,...,1.000000,0.0,0.0,0.0,0.0,1.000000,0.0,1.000000,0.0,1.000000

In [92]:
data.shape[0]

348978

In [93]:
def convert_cat_var(cat_var):
    temp = data.groupby(cat_var)['target'].sum()/data.groupby(cat_var)['transaction_id'].count()
    temp=pd.DataFrame(temp)
    temp.columns=[['num'+cat_var]]
    temp[cat_var] = temp.index
    tempdata=data.merge(temp,how='left',on=cat_var)
    return tempdata

In [94]:
def convert_cat_var2(cat_var):
    temp = data.groupby(cat_var)['target'].count()/data.shape[0]
    temp=pd.DataFrame(temp)
    temp.columns=[['num'+cat_var]]
    temp[cat_var] = temp.index
    tempdata=data.merge(temp,how='left',on=cat_var)
    return tempdata

In [95]:
for l in range(1,19):
    data=convert_cat_var('cat_var_'+str(l))
    data=convert_cat_var2('cat_var_'+str(l))

In [96]:
data=data.drop(['cat_var_31','cat_var_35',
           'cat_var_36','cat_var_37','cat_var_37','cat_var_40','cat_var_42'],axis=1)

In [97]:
data.describe()

,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_19,cat_var_20,cat_var_21,...,numcat_var_14_x,numcat_var_14_y,numcat_var_15_x,numcat_var_15_y,numcat_var_16_x,numcat_var_16_y,numcat_var_17_x,numcat_var_17_y,numcat_var_18_x,numcat_var_18_y
count,3.489780e+05,348978.000000,348978.000000,3.489780e+05,3.489780e+05,3.489780e+05,3.489780e+05,348978.000000,348978.000000,348978.000000,...,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000
mean,2.059731e-05,0.160586,0.000011,4.604324e-05,8.187931e-06,1.482768e-05,1.942554e-05,0.520279,0.479721,0.672257,...,0.107078,0.516458,0.107078,0.562973,0.107078,0.848424,0.107078,0.603934,0.107078,0.510002
std,1.930948e-03,0.131499,0.002538,1.999947e-03,7.213736e-04,1.492990e-03,1.462171e-03,0.499589,0.499589,0.469391,...,0.088338,0.304693,0.022569,0.165894,0.009565,0.229810,0.043771,0.202891,0.035983,0.070007
min,0.000000e+00,0.000317,0.000000,4.000000e-08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,0.074530,0.008539,0.091505,0.322556,0.104208,0.082613,0.080321,0.272037,0.075871,0.429282
25%,4.605263e-08,0.084514,0.000000,3.550000e-07,4.671053e-08,4.407895e-08,1.720602e-08,0.000000,0.000000,0.000000,...,0.082919,0.077486,0.091505,0.322556,0.104208,0.917387,0.080321,0.272037,0.075871,0.429282
50%,1.802632e-07,0.101512,0.000000,1.875000e-06,2.598684e-07,9.868421e-08,8.252516e-08,1.000000,0.000000,1.000000,...,0.082919,0.710684,0.091505,0.677444,0.104208,0.917387,0.080321,0.727963,0.075871,0.570718
75%,6.513158e-07,0.160833,0.000000,2.105000e-06,2.769737e-07,4.618421e-07,3.571842e-07,1.000000,1.000000,1.000000,...,0.085117,0.710684,0.139786,0.677444,0.104208,0.917387,0.178680,0.727963,0.148568,0.570718
max,5.427632e-01,1.000000,0.758621,3.750000e-01,2.171053e-01,4.605263e-01,3.542030e-01,1.000000,1.000000,1.000000,...,0.535470,0.710684,0.139786,0.677444,0.138952,0.917387,0.178680,0.727963,0.148568,0.570718

In [98]:
data.head()

,transaction_id,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_1,cat_var_2,...,numcat_var_14_x,numcat_var_14_y,numcat_var_15_x,numcat_var_15_y,numcat_var_16_x,numcat_var_16_y,numcat_var_17_x,numcat_var_17_y,numcat_var_18_x,numcat_var_18_y
0,id_11,2.302632e-08,0.040182,0.0,1.800000e-07,2.302632e-08,2.368421e-08,1.115205e-08,NaN,ce,...,0.082919,0.710684,0.091505,0.677444,0.104208,0.917387,0.080321,0.727963,0.075871,0.570718
1,id_33,7.965789e-06,0.157872,0.0,2.105000e-06,2.769737e-07,7.965789e-06,2.433058e-06,da,tn,...,0.082919,0.710684,0.139786,0.322556,0.104208,0.917387,0.080321,0.727963,0.148568,0.429282
2,id_51,7.828947e-08,0.089140,0.0,3.550000e-07,4.671053e-08,1.052632e-07,4.276014e-07,gf,ce,...,0.082919,0.710684,0.091505,0.677444,0.104208,0.917387,0.080321,0.727963,0.075871,0.570718
3,id_54,7.894737e-08,0.227239,0.0,1.050000e-06,1.381579e-07,2.190789e-07,1.848054e-08,NaN,ce,...,0.089439,0.033673,0.091505,0.677444,0.104208,0.917387,0.080321,0.727963,0.075871,0.570718
4,id_62,3.321053e-06,0.160410,0.0,2.105000e-06,2.769737e-07,3.340789e-06,2.152983e-06,da,tn,...,0.082919,0.710684,0.139786,0.322556,0.104208,0.917387,0.080321,0.727963,0.148568,0.429282

In [99]:
data=data.drop(['cat_var_1', 'cat_var_2',
       'cat_var_3', 'cat_var_4', 'cat_var_5', 'cat_var_6', 'cat_var_7',
       'cat_var_8', 'cat_var_9', 'cat_var_10', 'cat_var_11', 'cat_var_12',
       'cat_var_13', 'cat_var_14', 'cat_var_15', 'cat_var_16', 'cat_var_17',
       'cat_var_18'],axis=1)

In [100]:
from sklearn import preprocessing

In [101]:
X=data.drop(['target'],axis=1)
y = data['target']

In [102]:
X=X.fillna(0)

In [103]:
X=X.drop(['transaction_id'],axis=1)
scaler = preprocessing.StandardScaler().fit(X)

In [104]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [105]:
from xgboost import XGBClassifier
model2=XGBClassifier()

In [106]:
X_scaled = scaler.transform(X)

In [107]:
model2.fit(X_scaled,y)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [114]:
test = pd.read_csv('test.csv')

In [115]:
def convert_cat_var_for_test(cat_var):
    temp = data1.groupby(cat_var)['target'].sum()/data1.groupby(cat_var)['transaction_id'].count()
    temp=pd.DataFrame(temp)
    temp.columns=[['num'+cat_var]]
    temp[cat_var] = temp.index
    tempdata=test.merge(temp,how='left',on=cat_var)
    return tempdata
def convert_cat_var_for_test2(cat_var):
    temp = data1.groupby(cat_var)['target'].count()/data1.shape[0]
    temp=pd.DataFrame(temp)
    temp.columns=[['num'+cat_var]]
    temp[cat_var] = temp.index
    tempdata=test.merge(temp,how='left',on=cat_var)
    return tempdata
data1 = pd.read_csv('train.csv') 
for l in range(1,19):
    test=convert_cat_var_for_test('cat_var_'+str(l))
    test=convert_cat_var_for_test2('cat_var_'+str(l))
test=test.drop(['cat_var_1', 'cat_var_2',
       'cat_var_3', 'cat_var_4', 'cat_var_5', 'cat_var_6', 'cat_var_7',
       'cat_var_8', 'cat_var_9', 'cat_var_10', 'cat_var_11', 'cat_var_12',
       'cat_var_13', 'cat_var_14', 'cat_var_15', 'cat_var_16', 'cat_var_17',
       'cat_var_18'],axis=1)
del data1

In [116]:
test=test.drop(['cat_var_31','cat_var_35',
           'cat_var_36','cat_var_37','cat_var_37','cat_var_40','cat_var_42'],axis=1)

In [117]:
test_idd =test.transaction_id

In [118]:
test =test.drop(['transaction_id'],axis=1)

In [119]:
test = test.fillna(0)

In [120]:
test=scaler.transform(test)

In [121]:
pred_XGB = model2.predict_proba(test)

In [122]:
pred_XGB= pd.DataFrame(pred_XGB)

In [123]:
predXGB = pd.concat([test_idd,pred_XGB],axis=1).drop([0],axis=1)
predXGB.columns = [['transaction_id','target']]

In [124]:
predXGB.to_csv('occurance&all.csv',index=False)